.body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 600;
    background-color: skyblue;
    /* background-image: url('./../statics/an9_TDCP.jpg'); */
}


.loginBox{
    width: 320px;
    height: 400px;
    background-color: #000;
    color: #fff;
    top: 15%;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #dc3545;
}

.loginBox-buff{
    margin: 22px;
}

.loginBox-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin : 25px;
    font-size: 25px;
    color: #dc3545;
}

.loginBox-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    color: white;
}

.loginBox-input{
    border-radius: 3px;
    color: #dc3545;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-left: 10px;
    width: 100%;
    height: 35px;
}



#loginBox-button{
    width: 100%;
    border-radius: 10px;
    background: #dc3545 ;
    margin-top: 25px;
    height: 40px;
    border-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

#loginBox-button:hover{
    border: 1px solid #dc3545 ;
    background: black;
    color: #dc3545;
    font-weight: 600;
    font-size: 17px;
}
