.manager-list-panel{
    height: auto;
    padding: 20px 150px;
    /* margin-top: 20px; */
}
.manager-list-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 65%;
    height: 120px;
    margin-top: 10px;
}

.manager-list-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  .manager-list-img{
    width: 120px;
    height: 120px;
  }
  .manager-list-content{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      width: 60%;
  }
  .manager-list-input{
      margin-top: 10px;
      background-color: transparent;
      border: none;
      font-weight: 600;
      font-size: 12px;
      width: auto;
      
  }
  .manager-list-textarea{
      margin-top: 10px;
      background-color: transparent;
      border: none;
      width: auto;
  }
  .manager-list-button{
      display: flex;
      flex-direction: column;
      padding: 20px;
  }