.manager-container{
    width: 100%;
    height: auto;
    background-color: rgb(40, 218, 55);
    /* box-sizing: border-box; */
    background-color: white;
}

.manager-save-reset-panel{
    height: 55px;
    width: auto;
    
    margin:10px;
    /* margin-top: 20px; */
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #dc3545;
}

.manager-button{
    background: #dc3545;
    height: 35px;
    width: 125px;
    color: black;
    font-size: 12px;
    border-color: transparent;
    border-radius: 5px;
    margin: 10px 25px;
    font-weight: 600;
    border: 2px solid black;
}
.manager-button:hover{
    border: 2px solid #dc3545 ;
    background: black;
    color: #dc3545;
    font-weight: 600;
    font-size: 12px;
    
}
.manager-form-panel{
    height: 110px;
    width: auto;
    margin:10px;
    margin-top: auto;
    background: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #dc3545;
}
.manager-from-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    font-weight: 600;
}
.manager-form-input{
    border: none;
    border-bottom: 1px solid #dc3545;
    padding-left: 7px;
    color: black;
    font-weight: 550;
    font-size: 12px;
    height: 25px;
    background: transparent;
}
.manager-select{
    background-color: DodgerBlue;
    color: white;
    /* background-color: #dc3545;
    color: black; */
}
.manager-from-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    align-items: none;
}
.manager-table-panel{
    height: 500px;
    margin:10px;
    /* margin-top: 20px; */
    padding: 30px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #dc3545;
    display: block;
}

#manager-table {
    
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
  }
  
  #manager-table td, #manager-table th {
    border: 1px solid black;
    padding: 8px;
    width: auto;
  }
  
  #manager-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #manager-table tr:hover {background-color: #ddd;}
  
  #manager-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dc3545;
    color: white;
  }
  .product-button{
      width: 55px;
      height: 25px;
    background-color: #dc3545;
    border-color: black;
    margin-right: 10px;
    border-radius: 2px;
    color: white;
  }
  .manager-search{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px;
      align-items: baseline;

  }

  .edit-buff{
      margin: 10px;

  }

.manager-table-input{
    border: none;
    background: transparent;
    color: black;
    margin-left : 10px;
    font-weight: 550;
    font-size: 12px;
    height: 25px;
    border-bottom: 1px solid transparent;
    
}

.product-button-block{
    background-color: #ddd;
    color: black;
    border-color: black;
    width: 55px;
      height: 25px;
      margin-right: 10px;
    border-radius: 2px;
}
.blockDiv{
    visibility: hidden;
    height: 0;
}